@import url('https://fonts.googleapis.com/css?family=Sunflower:300');

* {
	position: relative;
    font-family: 'Sunflower', sans-serif;
}

.navbar li {
	display: inline-block;
	text-align: center;
}

.itemLeft {
	width: 15%;
}

.itemCenter {
	width: 70%;
}

.itemRight {
	width: 15%;
}

.navbar {
	background: #011A43;
	box-shadow: 0 3px 6px #0C0A0B, 0 3px 6px #0C0A0B;
	top: -25px;
}

li {
	color: white;
	padding: 15px 0;
}

body {	
	font-size: 1.5rem;
	margin: 0 auto;	
	background: #A2A19F;
}
